{% extends 'app/layout.html.twig' %}

{% block content %}
    <h1>Modifier <strong>{{ user.username }}</strong></h1>

    <div class="row">
        {% include 'admin/user/_form.html.twig' %} 
    </div>
{% endblock %}
