{% extends 'app/layout.html.twig' %}

{% block content %}

    <section class="container">
        <div>
            <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
        </div>
        <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">

        <div class="row">
            <a href="{{ path('task_create') }}">
                <button class="btn btn-success">Créer une nouvelle tâche</button>
            </a>
            <a href="{{ path('task_list') }}">
                <button class="btn btn-info">Consulter la liste des tâches à faire</button>
            </a>
            <a href="">
                <button class="btn btn-secondary">Consulter la liste des tâches terminées</button>
            </a>
        </div>
    </section>
{% endblock %}
