{% extends 'app/layout.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block content %}
    <section class="container">
        <h1>Créer une tâche</h1>
        {% include 'app/pages/task/_form.html.twig' %} 

        <div class="">
            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
    </section>
{% endblock %}
