<footer>
<div class="container">
    <div class="footer-container">
        <span class="logo">
            <span>ToDo<span class="accent">&</span>Co</span>
        </span>

            <ul>
                <li><a class="link" href="{{ path('homepage') }}">Accueil</a></li>
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}"><span>Déconnexion</span></a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        <p class="copyright">Copyright&copy;2022 Julie Pariona pour OpenClassrooms</p>
    </div>
</div>
</footer>